@charset "UTF-8";
/**
 * State Rules
 */
@font-face {
  font-family: 'molengo';
  src: url('../fonts/molengo.ttf');
}
body {
  font-family: 'molengo';
}
#content {
  position: relative;
  width: 670px;
  min-height: 1034px;
  padding: 55px 50px 0 50px;
  margin: 0 auto;
}
#content h1 {
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 6px 0;
  line-height: 1;
  color: #058fbc;
}
#content .date {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 6px 0;
  line-height: 1;
  color: #058fbc;
}
#content .date_title {
  border-top: 1px dotted #d0d0d0;
  padding: 4px 0;
}
#content .date_title h2 {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  background-color: #4c4c4c;
  color: #fff;
  margin: 0;
  padding: 0 5px;
}
#content .date_title span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  margin: 0;
  padding: 0 10%;
  width: 80%;
  text-align: center;
}
.head_wrapper {
  position: relative;
}
.wrapper:before,.wrapper:after {content:"";display:table;}
.wrapper:after {clear:both;}
.wrapper {*zoom:1;}
.variable {
  position: relative;
  min-height: 934px;
}


/**
 * pictures & map
 */

.picture-none .box {
  width: 670px;
  height: 220px;
}

.picture-1 .box,
.picture-1 .box p {
  width: 332px;
  height: 220px;
}

.picture-2 .box,
.picture-2 .box p {
  width: 220px;
  height: 220px;
}
.box:first-child {
  border-left: none;
}
.box {
  padding: 1px;
  border: 1px dotted #d0d0d0;
  border-right: none;
  float: left;
}
.box img.picture {
  width: 0px;
  height: 220px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 220px;
  overflow: hidden;
}

.picture-1 .box img.picture {
  width: 0px;
  height: 220px;
  padding-left: 332px;
}




/**
 * pictures & map
 */

.spot_info {
  width: 670px;
  min-height: 620px;
  padding-bottom: 60px;
  font-size: 11px;
  line-height: 14px;
  color: #4d4d4d;
}
.spot_info_top {
  width: 670px;
}
.spot_info p {
  margin: 0;
  padding: 3px 5px;
}
.spot_info .wrapper {
  background: url(../images/separator.png) 330px repeat-y;
  border-bottom: 1px dotted #d0d0d0;
}
.spot_info_spotname,
.spot_info_address {
  border-bottom: 1px dotted #d0d0d0;
  padding: 5px;
  padding-left: 59px !important;
  text-indent: -54px;
}
.spot_info_tel,
.spot_info_traffic,
.spot_info_url,
.spot_info_tag {
  float: left;
  word-break: break-all;
}
.spot_info_tel {
  width: 291px;
  padding-left: 37px !important;
  text-indent: -32px;
}
.spot_info_traffic {
  width: 276px;
  padding-left: 52px !important;
  text-indent: -47px;
}
.spot_info_url {
  width: 291px;
  padding-left: 37px !important;
  text-indent: -32px;
}
.spot_info_tag {
  width: 287px;
  padding-left: 41px !important;
  text-indent: -36px;
}
.spot_info_memo {
  text-align: justify;
}
.spot_info_bottom {
  border-top: 1px dotted #d0d0d0;
  border-bottom: 1px dotted #d0d0d0;
  position: absolute;
  bottom: 0px;
  width: 670px;
}
.copyright {
  margin: 10px 0 0 250px;
  color: #058fbc;
  font-size: 13px;
}

.spot_info_traffic span {
  display: inline-block;
  text-indent: 0px;
  line-height: 21px;
  padding-right: 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.traffic {
    width: 21px;
    height: 21px;
    background-size: 100%;
}

.traffic_train { background-image: url(../images/icon_traffic_01.png);}
.traffic_car { background-image: url(../images/icon_traffic_02.png);}
.traffic_airplane { background-image: url(../images/icon_traffic_03.png);}
.traffic_walk { background-image: url(../images/icon_traffic_04.png);}
.traffic_bus { background-image: url(../images/icon_traffic_05.png);}
.guide_item {
  border-bottom: 1px solid #9c9c9c;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.guidebook .spot_info {
  min-height: 0px;
  padding: 0;
}
.guidebook .spot_info_memo {
  border-bottom: 1px dotted #d0d0d0;
  min-height: 60px;
  padding: 10px 5px;
}
.guidebook .spot_info_traffic {
  float: none;
  border-bottom: 1px dotted #d0d0d0;
  padding: 0;
  line-height: 21px;
}
.guide_memo {
  font-size: 11px;
  line-height: 1.3;
  color: #4d4d4d;
  padding: 10px 5px;
  min-height: 65px;
  border-top: 1px dotted #d0d0d0;
  border-bottom: 1px dotted #d0d0d0;
}
.guide_memo p {
  margin: 0;
}